{% extends 'admin/base_admin.html.twig' %}

{% block title %}Order Index{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        {% if orders|length > 0 %}
            {% for order in orders %}
                <div class="accordion ml-2" id="ordersAccordion">
                    <div class="card">
                        <div class="card-header" id="order_{{ order.id }}">
                            <label>Order Owner: {{ order.user.fullName }}</label>
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#orderItem{{ order.id }}" aria-expanded="true" aria-controls="orderItem{{ order.id }}">
                                    Order #{{ order.id }} - {{ order.time|date }} - Total: {{ order.total }}
                                </button>
                            </h5>
                            <div class="row">
                                <div class="col-lg-7">
                                    <span class="ml-3 mb-2" style="color: {{ order.status.color }}"> Order Status: {{ order.status.name }}</span>
                                </div>
                                <div class="col-lg-5">
                                    {% if order.status.name == 'Pending' %}
                                        <form action="{{ path('order_update', {'id': order.id}) }}" method="post">
                                            <select name="statusId" class="form-control mb-2">
                                                <option value="1" selected>Pending</option>
                                                <option value="2">Approved</option>
                                                <option value="3">Cancelled</option>
                                                <option value="4">Delivered</option>
                                            </select>
                                            <button type="submit" class="btn btn-sm btn-info">Change Order Status</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="orderItem{{ order.id }}" class="collapse show" aria-labelledby="order_{{ order.id }}"
                             data-parent="#ordersAccordion">
                            <div class="card-body">
                                {% for detail in order.orderDetails %}
                                    <div class="col-lg-12 mb-2">Product Name: {{ detail.product.name }}</div>
                                    <div class="col-lg-12 mb-2">Amount: {{ detail.amount }}</div>
                                    <div class="col-lg-12 mb-2">Price: {{ detail.price }}</div>
                                    <div class="col-lg-12 mb-2">Total: {{ detail.total }}</div>
                                    <hr>
                                {% endfor %}
                                <div class="col-lg-12">
                                    <h6>Address Information</h6>
                                    <div class="row">
                                        City: {{ order.address.city }} - County: {{ order.address.county }}
                                    </div>
                                    <div class="row">
                                        Address: {{ order.address.address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>No orders</h4>
        {% endif %}
    </div>
{% endblock %}