<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body class="bg-light">
<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
    {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('product_index') }}">
            Products
        </a>
    {% else %}
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home') }}">
            Home
        </a>
    {% endif %}

    <div class="w-100 order-1 order-md-0">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('product_add') }}">
                        Add New Product
                    </a>

                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('order_index') }}">
                        Orders
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="order-2 order-md-1">
        <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="#">{{ app.user.fullName }}</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_logout') }}">Sign Out</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link"
                       href="{{ path('security_login') }}">Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<main role="main" class="container-fluid">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block body %}
        {% endblock %}
    </div>
</main>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
