{% extends 'base.html.twig' %}

{% block title %}Basket Page{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success mb-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        {% if baskets|length > 0 %}
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for basket in baskets %}
                        <tr>
                            <td>{{ basket.product.name }}</td>
                            <td>{{ basket.amount }}</td>
                            <td>{{ basket.amount * basket.product.price }}</td>
                            <td>
                                <form action="{{ path('basket_remove', {'id': basket.id}) }}">
                                    <input type="hidden" value="{{ basket.id }}" name="basketId">
                                    <button class="btn btn-sm btn-outline-danger btn-block">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total: {{ total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h4 class="text-black">Address Information</h4>
                <form action="{{ path('order_complete') }}" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="city" placeholder="City">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="county" placeholder="County">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="address" class="form-control" placeholder="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payType" id="doorRadio" value="door"
                                       checked>
                                <label class="form-check-label" for="doorRadio">
                                    Pay at the door
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="total" value="{{ total }}">
                    <button type="submit" class="btn btn-primary mt-4">Complete Order</button>
                </form>
            </div>
        {% else %}
            <h4>Your basket is empty</h4>
        {% endif %}
    </div>

{% endblock %}
