{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success mb-3">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert-danger mb-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img class="mr-2 img-fluid rounded"
                         src="{{ asset('uploads/products/' ~ product.image) }}"
                         alt="Product Image"
                         height="150"
                         width="150">
                    <div class="card-body px-2 pb-2 pt-1">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="h4 text-primary">₺{{ product.price }}</p>
                            </div>
                        </div>
                        <p class="mb-0">
                            <strong>
                                <a href="#" class="text-secondary">{{ product.name }}</a>
                            </strong>
                        </p>
                        <div class="d-flex justify-content-between">
                            <div class="col px-0">
                                {% if is_granted('ROLE_USER') %}
                                    <form action="{{ path('basket_add') }}" method="post">
                                        <div>
                                            <div class="form-group">
                                                <input name="amount" class="form-control mb-3" value="1" id="amount_{{ product.id }}"
                                                       type="number" min="1">
                                                <input type="hidden" name="productId" value="{{ product.id }}">
                                            </div>
                                            <button class="btn btn-outline-primary btn-block">Add To Cart</button>
                                        </div>
                                    </form>
                                {% else %}
                                    <span>You have to login to order</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
