{% extends 'admin/base_admin.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
    <small class="d-block text-right mt-3 mb-3">
        <a class="btn btn-info" href="{{ path('product_index') }}">Product List</a>
    </small>

    {% if image is not empty %}
    <div class="col-lg-12 text-center mb-3">
        <img class="mr-2 img-fluid rounded"
             src="{{ asset('uploads/products/' ~ image) }}"
             alt="Product Image"
             height="150"
             width="150">
    </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}