{% extends 'admin/base_admin.html.twig' %}

{% block title %}Product Index{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for product in products %}
        {{ include('admin/product/raw.html.twig', {'product':product}) }}

        <small class="d-block text-right mt-3">
            {% if is_granted('edit', product) %}
                <a class="btn btn-sm btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">Edit Product</a>
            {% endif %}
            {% if is_granted('edit', product) %}
                <a class="btn btn-sm btn-danger" href="{{ path('product_delete', {'id': product.id}) }}">Delete
                    Product</a>
            {% endif %}
        </small>
    {% endfor %}

{% endblock %}