<div class="media text-muted pt-3">
    <img class="mr-2 img-fluid rounded"
         src="{{ asset('uploads/products/' ~ product.image) }}"
         alt="Product Image"
         height="150"
         width="150">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <span class="d-block">
                    <strong class="text-gray-dark">{{ product.name }}</strong>
                    <small>{{ product.time|date("d/m/Y") }}</small>
                </span>
    </p>
</div>